# =========================
# Cache and compiled files 
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# IDE Local Configuration 
# =========================
.vscode/

# =========================
# output or other data files
# =========================
*.csv
*.zip
git-commit-draft.txt
output/*
!output/.gitkeep

# =========================
# assets
# =========================
# Keep the bunny.obj file used for quick testing.
asset/*
!asset/bunny.obj
!asset/.gitkeep